<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:fragment="header">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/jquery-3.2.1.slim.min.js}" type="text/javascript"></script>
    </th:block>
</head>
<body>
<div th:replace="base:: nav"></div>

</span>

<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Status</th>
        <th>Pic</th>
    </tr>

    <tr th:each="dog : ${dogs}">
        <td th:text="${dog.name}"></td>
        <td th:date="${dog.date}"><</td>
        <td th:text="${dog.description}"></td>
        <img th:src="${dog.pic}"/>
        <td th:text="${dog.status}"></td>

        <span sec:authorize="isAuthenticated()">
        <a th:href="@{/update/{id}(id=${dog.id})}">Update</a>
        </span>
    </td>
    </tr>


        <!--<span sec:authorize="isAuthenticated()">-->
            <!--<form method="POST" action="/process" th:object="${dog}"/>-->
            <!--<a th:href="@{/update/{status}(status=${dog.status})}"Update />-->
        <!--</span>-->


</table>
</body>
</html>